<h1>
  Add a new amorimetro
</h1>


<hr>

<form action="/create_amorimetro" method="post">

  <div class="form-group">
    <label for="points">
      Points
    </label>

    <input type="text" id="points" name="points" class="form-control">
  </div>

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <div class="form-group">
    <label for="reason">
      Reason
    </label>

    <input type="text" id="reason" name="reason" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create amorimetro
  </button>
</form>

<hr>

<a href="/amorimetros">
  Go back
</a>
