<!-- Validation failure messages -->
<% if @amorimetro.present? %>
  <% if @amorimetro.errors.any? %>
    <% @amorimetro.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new amorimetro
</h1>


<hr>

<!-- Form amorimetro start -->
<form action="/create_amorimetro" method="post">
<!-- Form amorimetro end -->

  <!-- Label and input for points start -->
  <div class="form-group">
    <label for="points">
      Points
    </label>

    <!-- Input for points start -->
    <input type="text" id="points" name="points" class="form-control" value="<%= @amorimetro.points %>">
    <!-- Input for points end -->
  </div>
  <!-- Label and input for points end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @amorimetro.user_id), :class => "form-control") %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for reason start -->
  <div class="form-group">
    <label for="reason">
      Reason
    </label>

    <!-- Input for reason start -->
    <input type="text" id="reason" name="reason" class="form-control" value="<%= @amorimetro.reason %>">
    <!-- Input for reason end -->
  </div>
  <!-- Label and input for reason end -->

  <button class="btn btn-block btn-outline-secondary">
    Create amorimetro
  </button>
</form>

<hr>

<a href="/amorimetros">
  Go back
</a>
